/* col-xs */
@media screen and (max-width: 767px) {
    td
    {
        width: calc((100vw - 30px)/11);
        height: calc((100vw - 30px)/11);
        text-align: center;
        vertical-align: middle;
    }
    tbody td:not(:first-child)
    {
        border: 1px solid black;
    }
}
/* col-sm */
@media screen and (min-width: 768px) and (max-width: 991px) {
    td
    {
        height: 65px;
        width: 65px;
        text-align: center;
        vertical-align: middle;
    }
    tbody td:not(:first-child)
    {
        border: 1px solid black;
    }
}
/* col-md */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    td
    {
        height: 40px;
        width: 40px;
        text-align: center;
        vertical-align: middle;
    }
    tbody td:not(:first-child)
    {
        border: 1px solid black;
    }
}
/* col-lg */
@media screen and (min-width: 1200px) {
    table
    {
        z-index: 2;
    }
    tbody td:not(:first-child)
    {
        border: 1px solid black;
    }
    td
    {
        height: 50px;
        width: 50px;
        text-align: center;
        vertical-align: middle;
    }
}

button
{
    margin-top: 15px;
}